@import "tailwindcss";

@theme {
--color-primary: #7A5633;
--color-secondary: #ffbf00;
--color-muted: #707070;
--bg-color: #f9f5f1;
--color-cream: #f9f5f1;
--breakpoint-xs: 480px;
}

@utility flexBetween {
  @apply flex items-center justify-between;
}

@utility paragraphText {
  @apply leading-relaxed text-sm sm:text-base md:text-lg text-muted;
}

.mainHeading {
  @apply text-transparent bg-clip-text bg-gradient-to-b from-[#7A5633] via-[#5c3d22] to-[#3d2a17] text-xl xs:text-2xl sm:text-3xl md:text-4xl lg:text-5xl xl:text-6xl font-bold mb-3 sm:mb-4 md:mb-5 px-2;
}

@utility flexCenter {
  @apply flex items-center justify-center;
}

@utility max-container {
  @apply mx-auto max-w-[1440px] w-full;
}

@utility padding-container {
  @apply px-4 xs:px-5 sm:px-6 md:px-8 lg:px-12 xl:px-16 2xl:px-20;
}

.bg-color {
  background-color: var(--bg-color);
}

*:focus {
  outline: none !important;
  box-shadow: none !important;
}
